@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap'); 

:root{
    --primary: #8c38ff;
    --secondary: #7E22FF;
    --light: #EEEEEE;
    --dark: #212121;
    --darkSecondary: #1C1C1C;
}

main{
    background-color: var(--dark);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Home */

.hero{
    background-color:var(--dark);
    height: 100vh;
}

.hero-text h1{
    font-size: 90px;
    color: var(--primary);
    font-weight: 800;
    
}

.hero-text p{
    font-size: 30px;
    font-weight: 600;
    color: var(--light);
}

.hero-text a{
    text-decoration: none;
}



.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: var(--primary);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 5px;
    margin-top: 20px;
    color: var(--light);
    cursor: pointer;
}

.button:hover{
    background-color: var(--secondary);
}

.button:active{
    background-color: #AC71FF;
}

.hero-text{
    margin-left: 40px;
    margin-bottom: 100px;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.socials{
    padding-bottom: 200px;
    font-size: 40px;
    color: var(--light);
    font-weight: 500;
}

.social{
    margin: 20px;
}



/* Navbar e Mobile Navbar */
.container{
    max-width: 1280px;
    margin: 0px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

.container h1{
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
}

.menu-btn{
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.menu-btn span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.menu-btn:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}

.menu-btn.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.menu-btn.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.menu-btn.menu-btn.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);

}

.menu-btn.is-active:hover span{
    background-color: var(--primary);
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color: #FFF;
    margin: 0 16px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu .btn-Menu:hover{
    background-color: var(--primary);
}

.mobile-menu{
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 98;


    opacity: 0;
    transform: translateY(-100%);
    background-color: black;
    color: #FFF;
    transition: 0.3s;
}

.mobile-menu.is-open{
    opacity: 1;
    transform: translateY(0);

}

.mobile-menu a{
    display: block;
    padding: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.mobile-menu a:hover{
    color: white;
    background-color: var(--primary);
}

/* Sobre */



.sobre{
    background-color: var(--darkSecondary);
    min-height: 35vh;
    color: var(--light);
    padding: 6.5%;
}

.sobre h2 {
    margin-bottom: 1rem;
    font-weight: 400;
}
  
.sobre h1{
    margin-bottom: 2rem;
    font-weight: 600;
}

.sobre p{
    font-weight: 300;
}
.sobre-mim_descri{
    line-height: 1.5rem;
    width: 70%;
}

.sobre-mim__foto {
    min-width: 30%;
}

.sobre-mim_foto img{
    border-left: 5px solid var(--primary);
    filter: opacity(75%);
    transition: 0.4s;
    width: 80%;
}
.sobre-content{
    display: flex;
    justify-content: space-around;
}


/* Experiencia*/

.experience {
    min-height: 35vh;
    background-color: var(--dark);
    color: var(--light);
    padding-left: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.experience h1{
    margin-bottom: 2rem;
}

.experience .exp-content{
    display: flex;    
    height: 100%;
    align-items: center;
}

.experience .exp-content ul{
    list-style-type: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 0;
}

.exp-lugares ul li.empresa.active {
    background-color: var(--darkSecondary);
    border-left: 3px solid var(--primary);
    font-weight: 600;
  }

.exp-lugares li{
    border-left: white solid 3px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s ease;
}

.exp-lugares ul li:hover{
    background-color: var(--darkSecondary);
}

.exp-text{
    width: 60%;
    margin-left: 5rem;
    position: relative;
    line-height: 1.5rem;
}

.exp-text section{
    display: none;
}

.exp-text section.showExp.is-active{
    display: block;
    animation: 1s forwards show-right;
}

.empresa-exp{
    margin: 10px 0 10px 0;
    margin: 2rem 0;
    font-size: 1.1rem;
    color: var(--primary) ;
    font-weight: bold;
    font-weight: 400;
}

.exp-text h2 {
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 600;
  }

.exp-text span{
    font-size: 0.95rem;
    right: 0;
    position: absolute;
    top: 5px;
}


.exp-lugares{
    width: 200px;
}

/*Animação da descrição da experiencia */
@keyframes show-right {
    from {
      opacity: 0;
      transform: translate3d(-70px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

/* Animação do Scroll*/

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime = "top"]{
    transform: translate3d(0,-100px,0);
}

[data-anime = "left"]{
    transform: translate3d( -70px, 0, 0);
}

[data-anime = "right"]{
    transform: translate3d( 70px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}

/* Projetos */

.projetos{
    background-color: var(--darkSecondary);
    z-index: 0;
    position: relative;
    padding: 6.5%;
    color: var(--light);
}



.projetos h1{
    font-weight: 600;
    margin-bottom: 2rem;
}

.projeto-grid{
    width: 90%;
}

.projeto-grid img{
    border-left: 5px solid var(--primary);
    width: 100%;
    transition: 0.5s;
    
}

.projeto-grid img:hover {
    transform: scale(110%);
    border-left: 5px solid rgba(101, 24, 180, 1);
  }
  

.projeto-grid h2{
    font-size: 1.3rem;
    margin: 2.5rem 0;
}

.projeto-grid span {
    color: var(--secondary);
    font-size: 1rem;
    display: block;
    margin: 2rem 0;
  }

.projetos-content{
    display: grid;
    margin-bottom: 5rem;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

/* footer */

footer {
    padding: 2rem 0;
    text-align: center;
    color: var(--light);
    display: block;
}

footer a{
    text-decoration: none;
}
  
footer p {
    display: inline-block;
}
  
footer span {
    color: var(--primary);
    font-weight: 700;
    transition: .4s;
}
  
footer span:hover {
    color: rgba(101, 24, 180, 1)
}

/* Scrollbar*/

::-webkit-scrollbar{
    width: 10px;
    background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondary);
    border-radius: 5px;
}

/* Reponsivo */

@media(max-width: 1325px){

    .sobre,
    .experience,
    .projetos{
        padding: 6.5%;
    }
}

@media(max-width: 880px){

    
    .sobre,
    .experience,
    .projetos{
        padding: 22% 0;
        text-align: center;
    }
    .hero-text h1{
        font-size: 70px;
    }

    .sobre-content{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .sobre-mim_foto{
        max-width: 80%;
    }

    .sobre-mim_foto img{
        border-left: none;
        border-bottom: 5px solid var(--primary);
    }

    .sobre-mim_descri{
        max-width: 80%;
    }

    .exp-content{
        flex-direction: column;
        align-items: center;
    }

    .exp-lugares{
        width: 250px;
    }

    .exp-lugares li{
        border-left: none;
        border-bottom: 3px var(--primary);
    }

    .exp-lugares ul li.empresa.active{
        background-color: var(--darkSecondary);
        border-left: none;
        border-bottom: 3px solid var(--primary);
        font-weight: 600;
    }

    .exp-text{
        margin-left: 0;
        margin-top: 2rem;
        min-height: 46vh;
        width: 90%;
    }

    .exp-text span {
      display: block;
      position: inherit;
     }
    
    .projetos-content {
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 5%;
      margin-bottom: 10rem;
    }
    
    [data-anime = "top"]{
        transform: translate3d(0,-70px,0);
    }
    
    [data-anime = "left"]{
        transform: translate3d( -30px, 0, 0);
    }
    
    [data-anime = "right"]{
        transform: translate3d( 30px, 0, 0);
    }
    
    [data-anime].animate{
        opacity: 1;
        transform: translate3d(0px,0px,0px);
    }
    
}

@media (min-width: 880px) {
    
    .menu-btn, .mobile-menu{
        display: none;
    }

    .menu{
        display: flex;
    }
    

}

@media (max-width: 460px){
    .hero-text h1{
        font-size: 1.8rem;
    }

    .hero-text p{
        font-size: 1.3rem;
    }

    .button{
        width: 100px;
        height: 35px;
        font-size: 1.3rem;
        padding-top: 0px;
        margin-top: 10px;
    }
}
